$whiteText: white;
$blueColor: #0282F9;
$greyColorFooterBg: #303030;
$footerBackground: "../assets/img/footer-bg.jpg";

.container {
    width: 70%;
    max-width: 1170px;
}

h1, 
h2, 
h3 {
    color: $whiteText;
}